body {
    background: lightgrey;
    

  }
.header{
    display: flex;
    flex-direction: row;
    place-content: space-between;
}
.header img{
    position: relative;
}
.logo{
    margin: 0.5rem 0rem 2rem 8rem;
}
.menu{
    margin: 2rem 10.2rem 0rem 10rem;
    font-size: 24px;
    font-weight: 300;
    
}
.menu::after{
    content:'';
    position: absolute;
    background-color: black;
    width: 82.1%;
    height: 0.5px;
    bottom: 87%;
    left:0;
    margin-left: 9rem;
    max-width: 100%;
}
ul{
    list-style: none;
}
li{
    display: inline;
    padding: 0rem;
}
.menu a{
    display: inline-block;
    color: black;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Cantata One', serif;
}
.menu a:hover{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 2rem;
}
.hero{
    display: flex; 
    flex-direction: row;
    place-content: space-between;
    margin-bottom: -14rem;

}
.left{
    width: 50%;
}
.left img{
    width: auto;
    height: 87.8%;
}
.right{
    width: auto;
    height: auto;
}
.hearts img{
    padding-top: 5rem;
    margin: 0rem 0rem 0rem 2.5rem;
    text-align: center;
}
.hiring{
    display: flex;
    flex-direction: column;
    margin-right: 15rem;
}
.hiring h1{
    font-size: 70px;
    font-weight: 400;
    text-align: center;
    margin-top: -1rem;
    font-family: 'Cantata One', serif;

}
.hiring h2{
    font-size: 100px;
    font-weight: 400;
    margin-top: -4rem;
    text-align: center;
    font-family: 'Cantata One', serif;

}
.hiring h4{
    font-size: 40px;
    font-weight:500;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0.4rem;
    margin-top: -3rem;
    padding: 0.5rem 0.5rem;

}
.social-media{
    display: flex;
    flex-direction: row;
    padding: 9rem 0rem 0rem 2rem;
    margin: 0rem 0rem 0rem 40rem;

}
.social-media a{
    margin: 0rem 0rem 0rem 1rem;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 7rem 0rem 0rem 0rem ;
    padding: 10rem 0rem;
    place-content: space-between;
    background-color: white;
}
.triage-logo{
    width: 50%;
    height: 100%;
    padding: 20rem 0rem;
    margin: 0rem 0rem 0rem 10rem;
    background-image: url(./assets/triage-logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 .hiring-2{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5rem 0rem;
    margin: 0rem 5rem 0rem 15rem;
 }

 .hiring-2 h2{
    font-size: 60px;
    font-weight: 400;
    margin:0rem;
    text-align: center;
    font-family: 'Cantata One', serif;

}
 .hiring-2 p{
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    margin-top: 4rem;
    font-family: 'Cantata One', serif;
    

}

.hiring-2 h4{
    font-size: 30px;
    font-weight: normal;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 0.4rem;
    padding: 0.5rem 0.5rem;
    margin: 0rem 11rem;

}
.subscribe{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16rem 0rem;
    font-family: 'Cantata One', serif;
        
}
.sub{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0rem 0rem 0 15rem;
    text-align: justify;
    margin-left: 0rem;
    margin-top: 6rem;

}
.sub h1{
    font-size: 80px;
    font-weight:normal;
    padding: 0rem;
    margin: 0rem 0rem 2rem 0rem ;
    
}
.sub h4{
    font-size: 30px;
    font-weight: lighter;
    padding: 0rem;
    margin: 0rem 10rem 0rem 0rem;
}
.form{
    display: flex;
    flex-direction: row;
    width: 50%;
}
.form h1{
    font-size: 40px;
    font-weight:normal;
    margin:0.5em 0rem 0.5rem 0rem ;
}
.form input{
    border-radius: 5px;
    border-style: solid;
    padding: 0.3rem 20rem 0.3rem 0rem;
    margin-right: 0rem;
    background-color: darkgrey;
    font-size: 25px;
}
button{
    margin: 2rem 0rem 0rem 0rem;
    padding: 0.5rem 3rem ;
    font-size: 20px;
    font-weight: normal;
    border-style: solid;
    border-radius: 3rem;
    color: white;
    background-color: black;
    font-family: 'Cantata One', serif;

}