.header{
    display: flex;
    flex-direction: row;
    place-content: space-between;
}
.logo{
    margin: 2rem 0rem 2rem 8rem;
}
.menu{
    width: max-content;
    height: max-content;
    margin: 2rem 25rem 0rem 0rem;
}
ul{
    list-style: none;
}
li{
    display: inline;
    padding: 0rem;
}
a{
    display: inline-block;
    color: black;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-family: 'Cantata One', serif;
}
a:hover{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0.5rem 2rem;
    text-decoration: none;
    border-radius: 2rem;
}
